<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <span>firstname:</span><input type="text" v-model='firstname'>
        <span>lastname:</span><input type="text" v-model='lastname'>
        <span>fullname:</span><input type="text" v-model='fullname'>
    </div>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript">
    new Vue({
        el:'#app',
        data:{
            firstname : 'T',
            lastname : 'MAC'
        },
        computed: {
            fullname:{
                get(){
                    return `${this.firstname}-${this.lastname}`
                },
                set(val){
                    var arr = val.split('-')
                    this.firstname = arr[0]
                    this.lastname = arr[1]
                }
            }
        },
    })
    </script>
</body>
</html>